.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(176, 166, 112, 0.2);
    border-radius: 20px;
    width: 500px;
    height: 400px;
    padding: 40px 40px;

}

.header-section {
    margin-bottom: 50px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    height: 40px;
    width: 100%;
    padding: 0px 20px;
    margin-top: 4px;
}

.form-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:cadetblue;


}

.password-section {
    margin-bottom: 30px;


}

#show-password {
    position: relative;
    top: 50%;
    left: 90%;
    /* right: 50px; */
    display: flex;
    align-items: center;
    /* background-color:red; */
    transform: translateY(-100%);
    /* background-color: white; */

}

.password-wrapper {
    position: relative;
    display: inline-block;
    /* padding: 10px 5px; */
    outline: none;
    border: 0;
    width: 100%;
}

.image {
    position: absolute;
    top: 10px;
    right: 2px;
    cursor: pointer;
}

.search {
    display: inline-block;
    align-items: center;
    position: relative;
}

#close-icon {
    position: absolute;
    top: 24px;
    right: -34px;
}

.toggle-div {
    position: absolute;
    top: 15px;
    right: 5px;
    cursor: pointer;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;


}

.button-login {
    background: #68B57A;
    border-radius: 59px;
    width: 300px;
    height: 40px;
    cursor: pointer;
    border: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

}

.button-login:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button-login:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 152.5%;
    text-align: center;

    /* font/black */
    color: #0C0C0C;

}